@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
body {
    font-family: "Cabin", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
* {
    margin: 0;
}
body > * {
    padding: 1em;
}

.banner {
    height: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5px;
}
.banner-span{
    text-decoration: underline;
}
/* nav */
.nav-hidden {
    display: none;
}
.nav-btn {
    border: none;
    background: black;
    color: white;
    padding: 1em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 2em;
    align-items: center;
    flex-direction: column;
}

.links a {
    color: white;
    text-decoration: none;
}
.nav .nav-shown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgb(54, 54, 54);
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    background: #f0eeeb;
}
.hamburger {
    background: none;
    border: none;
}
.logo {
    font-weight: bold;
    font-size: 1.5em;
}
/* intro section */
.intro{
    display: flex;
    flex-direction: column;
    background: #f0eeeb;
}
.intro_img{
    width: 100%;
    margin-bottom: 3em;
}
.title{
    font-size: 3em;
    color: rgb(54, 54, 54);
    margin-bottom: 0.5em;
}
.intro_p{
    font-size: 1.2em;
    color: rgb(99, 99, 99);
    margin-bottom: 0.5em;
}
.bentfits{
    list-style-type: none;
    margin-bottom: 1.5em;
    align-self: flex-start;
    padding: 0em;
}
.benfit-li{
    display: flex;
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
}
.sign-up{
    display: flex;
    align-items: center;
    gap: 1em;
}
.sign_up_input{
    border: 1px solid rgb(184, 184, 184);
    background-color: #fff;
    border-radius: 5px;
    padding: 1em;
}
.intro-btn{
    padding: 1em 1.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Cabin", sans-serif;
    cursor: pointer;
}

/* details */
.logos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_details{
    max-width: 30%;
    display: none;
    object-fit: contain;
}
.logo_details.sm{
    display: block;
}
/* details-escrow{ */
.details-escrow{
    margin-top: 3em;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #f0eeeb;
    padding: 3em 3em 0em 3em;
}
.details-escrow-h2{
    color: #000;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0.5em;
}
.details-escrow-p{
    color: #5a5444;
    margin-bottom: 0.5em;
}
.details-escrow-a{
    color: #5a5444;
}
@media (min-width: 768px) {
    body > *{
        padding-left: 2em;
        padding-right: 2em;
    }
    .hamburger{
        display: none;
    }
    .nav-hidden{
        display: inline;
    }
    .links{
        flex-direction: row;
    }
    .links a{
        color: #000;
    }
    .nav .nav-shown{
        display: flex;
        flex-direction: column;
        position: static;
        background-color: none;
        padding: 0;
        width: auto;
    }
    .logo_details.md{
        max-width: 20%;
    object-fit: contain;
        display: block;
    }
    .details-escrow-h2, .details-escrow-p{
        max-width: 70%;
    }
}
@media (min-width: 1200px) {
    body > * {
        padding-left: 6em;
        padding-right: 6em;
    }
    .nav-hidden {
        justify-content: space-between;
        flex-grow: 1;
    }

    .push-right {
        margin-left: auto;
    }
    .intro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .intro_img{
        max-width: 40%;
        order: 2;
    }
    .logo_details{
        width: 10%;
        display: block;
        /* object-fit: contain; */
    }
    .details-escrow{
        margin-top: 3em;
        display: flex;
        flex-direction: row;
        background-color: #f0eeeb;
        padding: 0em 3em 0em 4em;
        gap: 3em;
    }
    .details-escrow-h2, .details-escrow-p{
        max-width: 70%;
    }
}
